body {
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  width: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.square:hover {
  background-color: #ddd;
}

.square:focus {
  outline: none;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
